.bg { 
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);

    visibility: visible;
    
}

.productContainer {
 
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 padding: 15px;

 border-radius: 30px;

 width: 300px;

 background-color: rgba(0, 0, 0, .2);
 backdrop-filter: blur(5px);
 -webkit-backdrop-filter: blur(5px);

 color: #a4a4a4;

 gap: 15px;

 border-bottom: 4px solid #232222;

 visibility: visible;
 

 
 
 
}

.product p {
    margin: 0;
}

.btns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}


.btnClose{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    width: 30px;
    height: 30px;
    background-color: #444343;
    border-radius: 5px;
    border-bottom: 2px solid #232222;

    font-family: 'Roboto', sans-serif;
    font-size: 1rem;

    cursor: pointer;
    
}
.btnClose:active{
    color: #19e47d;
}


.hide {
    
    display: none;
    visibility: visible;

}