.productContainer {
    display: flex;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid #232222;
    
    
}


.productCheckBox {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 20%;
    height: 40px;

}

.productName {
    display: flex;
    align-items: center;
    height: 40px;
    width: 100%;
    gap: 10px;
    font-size: 1rem;
}
.productSelected {
    display: flex;
    align-items: center;
    height: 40px;
    width: 100%;
    gap: 10px;
    font-size: 1rem;
    text-decoration: line-through;
    color: #575757;;
}

.productName p {
    margin: 0;
}



.total{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

@media (max-width: 600px) {

}

