
.indexMain {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;  
}

.formAcesso {
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 100vh;

  

  background-image: linear-gradient(#232222, #444343, #232222); 
  color: #a4a4a4;
}

.imgLogo {
  
  width: 20%;
  margin-bottom: 20px;
  
}

.acessarLista {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.hr {
  margin: 20px 0;
}
.inputDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 40px;
  
  background-color: #fff;
  border-radius: 50px;
  border-bottom: 3px solid #232222;
}

.inputAcesso {
  text-align: center;
  
  border-radius: 50px;
  border: none;
  
}

.doubtIcon{
  display: flex;
  justify-content: center;
  align-items: center;

  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #232222;

  cursor: pointer;
}

.doubtIconSquare{
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 8px;
  width: 150px;
  height: 80px;
  border-radius: 10px;
  background-color: #232222;
  font-size: .7rem;
  margin-bottom: 110px;
  cursor: pointer;
  
}

.hide{
  display: none;
  visibility: hidden;
  
}





.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  
  width: 250px;
  height: 45px;
  border-radius: 10px;
  border-bottom: 2px solid #232222;
  background-color: #3f3f3f;
  transition: .5s;  
  cursor: pointer;

}

.btn:hover{
  border-bottom: 2px solid #19e47d;
}








